/*applies to all screens*/
* {
	box-sizing: border-box;
}

.row {
	max-width: 1000px;
	/*padding-left: 10px;
	padding-right: 10px;*/
	margin: 0 auto;
}

/*clearfix*/
.row::before,
.row::after{
	display: table;
	content: ' ';
}

.row::after {
	clear: both;
}
.col_4, .col_12, .col_3, .col_5, .col_6, .col_8, .col_2{
	float: left;
  	padding-left: 1.04166666%;
  	padding-right: 1.04166666%;
}
/*mobile device default settings*/
.col_4, .col_12, .col_3, .col_5,  .col_6, .col_8, .col_2{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

/*non-mobile device screens*/
@media only screen and (min-width: 769px) {
html {
	font-size: 100%;
}

.col_2{
	width: 16%;
}
.col_3{
	width: 25%;
}
.col_4{
	width: 33.3%;
}
.col_5{
	width: 42%;
}
.col_6{
	width: 50%;
}
.col_8{
	width: 66.6%;
}
.col_9{
	width: 75%;
}
.col_12{
	width: 100%;
}

}
