* {
	box-sizing: border-box;
}
.row {
	max-width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0px;
	margin-right: auto;
	margin-left: auto;
}

/*clearfix*/
.row::before,
.row::after{
	display: table;
	content: ' ';
}

.row::after {
	clear: both;
}
/*mobile device default settings*/
.col_4, .col_12, .col_3, .col_6{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/*non-mobile device screens*/
@media only screen and (min-width: 640px) {
.col_4{
	width: 33.3%;
}
.col_3 {
	width: 25%;
}
.col_6 {
	width: 50%;
}
.col_2 {
	width: 16%;
}