* {
	box-sizing: border-box;
	font-family: 'Orbitron', sans-serif;
	color: #e6e6ff;
	font-size: 100%;
}
body {
	background-image: url("../images/cubes.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #00001a;
	background-attachment: fixed;
}

h1 {
	font-size: 8em;
	/*margin-left: 40px;*/
	margin-bottom: 5px;
}
h3 {
	font-size: 3em;
	margin: 20px 0 60px 40px;
}
h2 {
	padding-left: 14px;
}
footer {
	bottom: 10;
	left: 0;
	margin: 5px;
	margin-left: 40px;
}
a:visited {
	color: #008000;

}
.search_input, button {
	color: #00001a;
	margin-left: 40px;
	margin-bottom: 4px;
	font-size: 1em;
}
#share-buttons img {
	width: 35px;
	padding: 5px;
	border: 0;
	box-shadow: 0;
	display: inline;
}
.hidden {
	display: none;
}
.result_container {
	background-image: none;
	background-color: #1a1a1a;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}

.igdb_result_return {
	background-color: #1a1a1a;
	margin: 20px;
	padding: 20px;
}
.igdb_games_results_list {
	position: relative;
}
.side_image {
	display: inline-block;
	padding-left: 14px;
}
.igdb_result_return p {
	display: inline-block;
	padding: 20px;
	vertical-align: top;
}
.youtube_gameplay_list, .youtube_walkthrough_list, .trailer_view_window {
	display: inline-block;
	margin: 10px;
}
.bold_text {
	font-weight: bold;
	font-stretch: extra-expanded;
}
