* {
	box-sizing: border-box;
	color: #e6e6ff;
	font-size: 100%;
	font-family: 'Aldrich', sans-serif;
}
body {
	background-image: url("../images/cubes.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #00001a;
	background-attachment: fixed;
}

header {
	margin-top: 50px;
}
form {
	font-family: 'Orbitron', sans-serif;
	font-size 2em;
}
h1,h2,h3 {
	font-family: 'Orbitron', sans-serif;
}

}
h2 {
	font-family: 'Orbitron', sans-serif;
	padding-left: 14px;
}
footer {
	font-family: 'Orbitron', sans-serif;
	bottom: 10;
	left: 0;
	margin: 5px;
	margin-left: 40px;
}
a:visited {
	color: #009933;

}
.gameplay_list, .walkthrough_list {
	border: 0;
	margin: 0;
	padding: 0;
}
.search_input, button {
	color: #00001a;
	margin-bottom: 4px;
	font-size: 1.75em;
}
#share-buttons img {
	width: 35px;
	padding: 5px;
	border: 0;
	box-shadow: 0;
	display: inline;
}
.hidden {
	display: none;
}
.reset_search_fields {
	margin-bottom: 20px;
	font-size: 1em;
	margin-top: 10px;
}
/*.result_container {
	background-image: none;
	background-color: #1a1a1a;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
}*/

.igdb_result_return, .youtube_results {
	background-color: #1a1a1a;

}
.igdb_games_results_list {
	position: relative;
}
.side_image {
	display: inline-block;
}
.igdb_result_return p {
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;

}
.youtube_gameplay_list, .youtube_walkthrough_list {
	display: inline-block;
	position: relative;
}
.bold_text {
	font-weight: bold;
	font-stretch: extra-expanded;
	font-family: 'Orbitron', sans-serif;
	font-size: 2em;
}
.minor_headline {
	font-family: 'Orbitron', sans-serif;
	font-size: 1.6em;
}
.youtube_results {
	background-color: #1a1a1a;

}

.walkthrough_section {
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.gameplay_section {
	padding-bottom: 20px;
}
button:hover {
	background-color: #009933;
}
#reset_search_button {
	font-size: 1em;
}