* {
	box-sizing: border-box;
	font-family: 'Orbitron', sans-serif;
	color: #e6e6ff;
}
body {
	background-image: url("../images/cubes.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #00001a;
	background-attachment: fixed;
}

h1 {
	font-size: 140px;
	margin-left: 40px;
	margin-bottom: 5px;
}
h3 {
	font-size: 50px;
	margin: 20px 0 60px 40px;
}

.search_input, button {
	color: #00001a;
	margin-left: 40px;
	margin-bottom: 4px;
	font-size: 20px;
}
#share-buttons img {
	width: 35px;
	padding: 5px;
	border: 0;
	box-shadow: 0;
	display: inline;
}
.hidden {
	display: none;
}
.result_container {
	background-image: none;
	background-color: #1a1a1a;
	float: left;
}
footer {
	bottom: 0;
	left: 0;
	margin: 5px;
	margin-left: 40px;
}

.igdb_result_return {
	background-color: #1a1a1a;
	margin: 20px;
	padding: 20px;
}
.igdb_games_results_list {
	position: relative;
}
.side_image {
	display: inline-block;
}
.igdb_result_return p {
	display: inline-block;
	padding: 0 20px 20px 20px;
	vertical-align: top;
}
.youtube_results {
	display: inline-block;
}
